@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:#59ab6e;
    --secondary-color:rgb(85, 85, 85) ;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.top-nav {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.container {
    width: 1300px;
    margin: auto;
}

header .nav {
    background-color: white;
    padding: 20px 0;
}

header .nav ul li{
    padding: 0 25px;
    font-size: 18px;
    font-weight: 300;
}
header .nav .container .logo h1 a{
    font-size: 48px;
    color: var(--primary-color);
;
}

#slider{
    background-color: #EFEFEF;
}
#slider .container .content{
   
    display:  inline-block;
    width: 1000px;
    color:rgb(108, 107, 107)

}
#slider .container .content .head{
    font-size: 45px;
    padding-bottom: 15px;
    padding-top: 100px;
}
#slider .container .content .sub-head{
    font-size: 27px;
    padding-bottom: 15px;
}

#slider .container .content .details{
    font-size: 16px;
    padding-bottom: 70px;
    
}
#slider .container .image{
    display: inline-block;
}
#slider .container .image img{
    
   width: 100%;
   
}


#product .container .heading{
    text-align: center;
    padding: 80px 10px;
    margin:  0 330px;
    color: var(--secondary-color)
}
#product .container .heading .head h1{
    font-size: 45px;
    font-weight: 300;
    padding-bottom: 10px;
    
}

#product .container .heading .details p{
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    
}

#product .container .product-area .card{
    /* border: 1px solid red; */
    width: 415px;
    background-color: white;
    color:var(--secondary-color)
}

#product .container .product-area .card .image{
    width: 100%;
    height: 330px;
    /* border: 2px solid blue; */
}

#product .container .product-area .card .image img{
    width: 100%;
    height: 100%;
}

#product .container .product-area .card .card-content-body{
    margin: 15px;
}

#product .container .product-area .card .card-content-body .rating{
    padding: 10px 0 15px 0;
    font-size: 18px;
}

#product .container .product-area .card .card-content-body .head h2{
    
    font-size: 30px;
    font-weight: 300;
}

#product .container .product-area .card .card-content-body .details p{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

#product .container .product-area .card .card-content-body .review{
    padding: 15px 0 30px 0;
}

.cat{
    background-color:white;
}
.pro{
background-color: #E9EEF5;
}

.circle{
    border-radius: 50%;
    border: 2px solid red;
  
}

.text-center{
    text-align: center;
}