.one{
    background-color: purple;

    width: 150px;
    height: 50px;

    font-size: 23px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: bold;


}
.two{
    background-color: rgb(173, 2, 173);
    
    width: 200px;
    height: 50px;
}